<!DOCTYPE html>
<html>
<head>
    <title>SImpleMONitor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SImpleMONitor</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/simasch/simon">GitHub</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="content" v-cloak>
    <div class="container" v-if="dataReady">

        <h1>{{hosts.name}}</h1>

        <p>Last refresh {{lastRefresh}} &nbsp;/&nbsp; <a href="#" v-on:click="switchAutoRefresh">Turn auto refresh
            {{autoRefresh == true ? 'off' : 'on'}}</a></p>

        <div v-for="group in hosts.group">
            <h2>{{group.name}}</h2>

            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Status</th>
                    <th>Duration</th>
                    <th>Timestamp</th>
                </tr>
                <tr v-for="host in group.host" class="{{host.status == '200' ? 'success' : 'danger'}}">
                    <td width="200">{{host.name}}</td>
                    <td width="300"><a href="{{host.url}}">{{host.url}}</a></td>
                    <td width="100">{{host.status}}</td>
                    <td width="100"><a href="detail.html?url={{host.url}}">{{host.duration}} ms</a></td>
                    <td width="200">{{host.timestamp}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <p class="text-muted">SImpleMONitor is free and open source under Apache license 2.0</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.2/vue-resource.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>
